body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1, h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px;
    outline-offset: -2px;
    display: block;
}

.head-conteiner {
    max-width: 1158px;
    padding: 0 15px;
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}

.benefits {
    padding: 120px 0;
}

.benefits-team {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
}

.logo-container {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.head {
    /* font-weight: 700; */
    /* font-size: 18px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    /* text-transform: uppercase; */
    /* color: #4d5ae5; */
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.main-container {
    padding: 188px 0;
    background-color: #2e2f42;
    align-items: center;
    flex-direction: column;
}
.head > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .main-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.nav-list {
    display: flex;
    gap: 40px;
}
.logo-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.conteiner-foot {
    padding-top: 100px;
    max-width: 312px;
}
.nav-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: flex;
    align-items: center;
}

.span {
    color: #2e2f42;
}

.span-logo {
    color: #2e2f42;
}

.span-foot {
    color: #f4f4fd;
}
/* .post-headline {
    background-color: #2E2F42;
    font-weight: bold;
    font-size: 56px;
    line-height: 2;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 188px 0;
} */

.text-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding: 24px 0;
}

.text-link:hover {
    color: #404bbf;
}
.text-link:focus {
    color: #404bbf;
}

.address-list {
    font-style: normal;
}

.container-team {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 72px;
}
.address-container {
    display: flex;
    gap: 40px;
}
.text-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    font-size: normal; 
    width: 100%;
    display: block;
    padding: 24px 0;
}

.text-address:hover {
    color: #404bbf;
}

.text-address:focus {
    color: #404bbf;
}

.post-text-headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.post-headline-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    min-height: 56px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    align-items: center;
    border-color: transparent;
    display: block;
    border: none;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.post-headline-button:hover {
    background-color: #404BBF
}

.post-headline-button:focus {
    background-color: #404BBF
}

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team .team-title {
    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: 264px;
    margin-bottom: 8px;
} 

/* .team-con {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: 264px;
    margin-bottom: 8px;
    text-align: center;

} */

.paragraph {
    /* font-weight: 400;
    font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455
}

ul {
    list-style-type: none;
}

.team .paragraph,
.main-container .paragraph {
    text-align: center;
}

.paragraph-app {
    text-align: left;
    /* font-weight: 400;
    font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.paragraph-title {
    text-align: left;
    /* font-weight: 400;
    font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.benefits-team>li {
    width: calc((100% - 72px) / 4);
}

.team-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.pf-list {
    width: calc((100% - 48px) / 3);
}
.team-name {
    padding: 32px 0;
    text-align: center;
}
.work-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.team-work {
    padding: 120px 0 120px 0;
}
.team {
    background-color: #F4F4FD;
    padding: 120px 0 120px 0;
}
.foot {
    background-color: #2E2F42;
    padding: 100px 0;
    /* outline-offset: -2px; */
}

.paragraph-foot {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 16px;
    width: 274px;
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}